<main class="navbar bg-base-100">
  <section class="navbar-start">
    <section class="dropdown">
      <label
        tabindex="0"
        class="btn btn-ghost lg:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-300 rounded-box w-52"
      >
        <li><a [routerLink]="['character', 'page', 1]">Characters</a></li>
        <li><a [routerLink]="['location', 'page', 1]">Locations</a></li>
        <li><a [routerLink]="['episode', 'page', 1]">Episodes</a></li>
      </ul>
    </section>
    <a
      [routerLink]="['characters', 'page', 1]"
      class="btn btn-ghost normal-case text-xl"
    >
      <img
        class="w-40 h-auto"
        src="../assets/text-logo.png"
        alt="rick and morty logo"
    /></a>
  </section>
  <section class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal p-0">
      <li><a [routerLink]="['character', 'page', 1]">Characters</a></li>
      <li><a [routerLink]="['location', 'page', 1]">Locations</a></li>
      <li><a [routerLink]="['episode', 'page', 1]">Episodes</a></li>
    </ul>
  </section>
  <section class="navbar-end">
    <!-- <input type="text" placeholder="Search" class="input input-bordered mr-1" /> -->
    <app-theme-changer></app-theme-changer>
  </section>
</main>
