<h1 class="flex text-4xl justify-center mt-12 mb-6">Locations</h1>

<div class="flex flex-wrap justify-center">
  <div *ngFor="let location of locations">
    <div
      (click)="goToPage(location.id)"
      class="card w-64 bg-base-200 hover:bg-primary shadow-xl m-4"
    >
      <div class="card-body">
        <h2 class="card-title">{{ location.name }}</h2>
        <div>
          {{location.type}} - {{location.dimension}}
        </div>
      </div>
    </div>
  </div>
</div>

<app-paginator pageName="locations/page/"></app-paginator>
