<h1 class="flex text-4xl justify-center mt-12 mb-8">Episodes</h1>

<main class="flex flex-wrap justify-center">
  <article *ngFor="let episode of episodes">
    <a
      [routerLink]="['/episode', episode.id]"
      class="card w-64 bg-base-200 hover:bg-primary shadow-xl m-4"
    >
      <section class="card-body">
        <h2 class="card-title mb-3">{{ episode.name }}</h2>
        <div>
          {{ episode.air_date }}
        </div>
        {{ episode.episode }}
      </section>
    </a>
  </article>
  >
</main>

<app-paginator
  pageName="episode/page/"
  [pageNumber]="id"
></app-paginator>
