<div title="Change Theme" class="dropdown dropdown-end">
  <div tabindex="0" class="btn gap-1 normal-case btn-ghost">
    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      class="inline-block h-5 w-5 stroke-current md:h-6 md:w-6">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01">
      </path>
    </svg>
    <span class="hidden md:inline">Theme</span>
    <svg width="12px" height="12px" class="ml-1 hidden h-3 w-3 fill-current opacity-60 sm:inline-block"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
      <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
    </svg>
  </div>
  <div
    class="dropdown-content bg-base-200 text-base-content rounded-t-box rounded-b-box top-px max-h-96 h-[70vh] w-52 overflow-y-auto shadow-2xl mt-16">
    <div class="grid grid-cols-1 gap-3 p-3" tabindex="0">
      <app-theme themeName="light" data-theme="light" data-set-theme="light"></app-theme>
      <app-theme themeName="dark" data-set-theme="dark" data-theme="dark"></app-theme>
      <app-theme themeName="cupcake" data-set-theme="cupcake" data-theme="cupcake"></app-theme>
      <app-theme themeName="bumblebee" data-set-theme="bumblebee" data-theme="bumblebee"></app-theme>
      <app-theme themeName="emerald" data-set-theme="emerald" data-theme="emerald"></app-theme>
      <app-theme themeName="corporate" data-set-theme="corporate" data-theme="corporate"></app-theme>
      <app-theme themeName="synthwave" data-set-theme="synthwave" data-theme="synthwave"></app-theme>
      <app-theme themeName="retro" data-set-theme="retro" data-theme="retro"></app-theme>
      <app-theme themeName="cyberpunk" data-set-theme="cyberpunk" data-theme="cyberpunk"></app-theme>
      <app-theme themeName="valentine" data-set-theme="valentine" data-theme="valentine"></app-theme>
      <app-theme themeName="halloween" data-set-theme="halloween" data-theme="halloween"></app-theme>
      <app-theme themeName="garden" data-set-theme="garden" data-theme="garden"></app-theme>
      <app-theme themeName="forest" data-set-theme="forest" data-theme="forest"></app-theme>
      <app-theme themeName="aqua" data-set-theme="aqua" data-theme="aqua"></app-theme>
      <app-theme themeName="lofi" data-set-theme="lofi" data-theme="lofi"></app-theme>
      <app-theme themeName="pastel" data-set-theme="pastel" data-theme="pastel"></app-theme>
      <app-theme themeName="fantasy" data-set-theme="fantasy" data-theme="fantasy"></app-theme>
      <app-theme themeName="wireframe" data-set-theme="wireframe" data-theme="wireframe"></app-theme>
      <app-theme themeName="black" data-set-theme="black" data-theme="black"></app-theme>
      <app-theme themeName="luxury" data-set-theme="luxury" data-theme="luxury"></app-theme>
      <app-theme themeName="dracula" data-set-theme="dracula" data-theme="dracula"></app-theme>
      <app-theme themeName="cmyk" data-set-theme="cmyk" data-theme="cmyk"></app-theme>
      <app-theme themeName="autumn" data-set-theme="autumn" data-theme="autumn"></app-theme>
      <app-theme themeName="business" data-set-theme="business" data-theme="business"></app-theme>
      <app-theme themeName="lemonade" data-set-theme="lemonade" data-theme="lemonade"></app-theme>
      <app-theme themeName="night" data-set-theme="night" data-theme="night"></app-theme>
      <app-theme themeName="coffee" data-set-theme="coffee" data-theme="coffee"></app-theme>
      <app-theme themeName="winter" data-set-theme="winter" data-theme="winter"></app-theme>
    </div>
  </div>
</div>